.farm {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: absolute;
  pointer-events: none;

  .resource-row {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('../images/textured-background.png') 30 stretch;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 10px 0;

    .item-container {
      width: 100%;
      overflow-x: scroll;
      display: flex;

      :first-child {
          margin-left: 0;
      }

      div {
        background-size: cover;
        width: 113px;
        height: 130px;
        margin-left: -60px;
      }
    }

    .description {
      background-color: rgba(0, 0, 0, 0.5);
      text-align: left;
      padding: 5px 10px 5px 10px;
      font-size: 14px;
      margin-top: -15px;
      position: relative;
    }
  }

  
}

.apple-tree {
  background-image: url("../images/apple-tree.png");
}
.orange-tree {
  background-image: url("../images/orange-tree.png");
}
.pear-tree {
  background-image: url("../images/pear-tree.png");
}
.peach-tree {
  background-image: url("../images/peach-tree.png");
}