.farm {

  ::-webkit-scrollbar {
    display: none;
  }

  width: 100%;

  .resource-row {
    padding: 15px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 10px 0;
    border: 5px solid red;
    border-top: 0px solid transparent;

    &:first-child {
      border-top: 5px solid red;
    }

    .item-container {
      width: 100%;
      overflow-x: scroll;
      display: flex;

      :first-child {
          margin-left: 0;
      }

      div {
        background-size: contain;
        width: 65px;
        height: 78px;
        margin-left: -44px;
        background-repeat: no-repeat;
      }
    }

    .description {
      background-color: rgba(0, 0, 0, 0.5);
      text-align: left;
      padding: 5px 10px 5px 10px;
      font-size: 14px;
      margin-top: -15px;
      position: relative;
      color: white;
    }
  }

  
}

.apple-tree {
  background-image: url("../images/apple-tree.png");
}
.orange-tree {
  background-image: url("../images/orange-tree.png");
}
.pear-tree {
  background-image: url("../images/pear-tree.png");
}
.peach-tree {
  background-image: url("../images/peach-tree.png");
}