.store {
  background-image: url("../images/textured-background.png");
  padding: 20px;
  justify-content: space-around;
  background-size: contain;
  border: 10px solid #642F0C;
  border-radius: 25px;
  right: 2.5%;

  .passive-items, .active-items {
    background: rgba(0,0,0, 0.8);
    padding: 10px;
    border-radius: 10px;

    .title {
      border-bottom: 5px solid #642F0C;
      padding: 5px 0 5px 0;
    }

    .item {
      
      padding: 5px 10px 5px 10px;
      margin-bottom: 5px;

      .item-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .item-owned-count {
        font-size: 10px;
        text-align: right;
      }
    }
  }
}

