.storyline-wrapper {
  background: url('../images/backgrounds/facebook-speechbubble_2x.png');
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 25px;
  width: 36%;
  height: 18%;

  h6 {
  	margin: 0;
  }
}