@import './styles/nook-phone';
@import 'styles/animations';

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;


  background-size: cover;
}

#App {
  background-image: url('./images/backgrounds/hero-bg-desktop.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.App-link {
  color: #61dafb;
}


@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.d-none {
  display: none !important;
}

.bell-count-container .money-bag {
  background-image: url("./images/bag-of-bells.png");
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: auto;
}

.pulse-animation {
  animation:  pulseAnimation 1s ease-in-out 1s infinite;
}

.bell-count-container .bell-count {
  background-color: #BCA746;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  text-align: center;
  z-index: 0;
}

#App {
  display: flex;

  #grove-container {
    position: relative;
    width: 100%;
  }
}